/* GENERAL */
body, html {
  font-size: 17px;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

/* UTILITIES */
hr {
  border: solid 1px #394eff; }

.container-grey {
  width: 100%;
  background-color: #f9f9f6;
  margin: 0;
  padding: 0; }

.container-blue {
  width: 100%;
  background-color: #394eff;
  margin: 0;
  padding: 0; }

/*SECCION BAANER*/
.banner {
  width: 100%; }
  .banner-image {
    width: 100% !important; }

/*SECCION SHIPPING*/
.shipping {
  max-width: 985px;
  color: #394eff;
  margin: auto; }
  .shipping-icon {
    font-size: 9em;
    padding: 20px 0; }
  .shipping-title {
    font-size: 2.6em; }
  .shipping-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px; }
    .shipping-content-text {
      font-size: 1em;
      box-sizing: border-box;
      width: 48%;
      line-height: 25.5px; }
  .shipping-work {
    border-top: solid 1px #394eff;
    display: flex;
    justify-content: space-between;
    padding-top: 10px; }
    .shipping-work-icon {
      font-size: 9em; }
    .shipping-work-content {
      width: 80%;
      /*preguntar teacher*/
      /*preguntar teacher*/ }
      .shipping-work-content .textOne {
        font-size: 1.3em; }
      .shipping-work-content .textTwo {
        font-size: 1.1em; }

/*COUNTER*/
.counter {
  color: #ffffff;
  font-size: 1.1em;
  margin-top: 60px; }
  .counter-top {
    display: flex;
    justify-content: space-between;
    max-width: 925px;
    margin: auto;
    padding-top: 50px; }
    .counter-top-left {
      font-weight: 100; }
    .counter-top-right {
      font-weight: 100; }
  .counter-numbers {
    border: solid 1px #ffffff;
    display: flex;
    max-width: 925px;
    text-align: center;
    justify-content: space around;
    margin: auto; }
    .counter-numbers-box {
      width: 133px;
      border-right: solid 1px #ffffff;
      font-size: 9em;
      text-align: center;
      padding: 15px 0px; }
    .counter-numbers-box:nth-child(7) {
      border-right: none; }
  .counter-bottom {
    max-width: 925px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px; }
    .counter-bottom-title {
      font-weight: 100; }

/*COOKIE*/
.cookie {
  padding: 80px 0;
  background-color: #f9f9f6;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: auto; }
  .cookie-img {
    width: 50%; }
    .cookie-img img {
      width: 100%;
      height: 100%; }
  .cookie-content {
    box-sizing: border-box;
    background-color: #ffa7d0;
    padding: 50px;
    width: 50%; }
    .cookie-content-subtitle {
      font-size: 1.3em;
      font-weight: normal;
      margin: 0; }
    .cookie-content-title {
      font-size: 2.5em; }
    .cookie-content-text {
      line-height: 25px; }
    .cookie-content-button {
      background-color: #74E4D0;
      border: none;
      color: #ffffff;
      border-radius: 8px;
      border-bottom: solid 6px #5db7a7;
      font-size: 1.2em;
      text-align: center;
      padding: 15px 60px;
      max-width: 288px;
      font-weight: 600; }
    .cookie-content-button:hover {
      background-color: #8ce8ca;
      cursor: pointer; }

/*primera forma*/
.shipform {
  max-width: 935px;
  color: #ffffff;
  background-color: #394eff;
  font-size: 1.1em;
  padding: 50px 0px 25px 0px;
  margin: auto; }
  .shipform-line {
    border: solid 1px #ffffff; }
  .shipform-title {
    font-size: 2.3em; }
  .shipform-text {
    font-size: 0.8em;
    font-weight: 100; }
  .shipform-form {
    padding-top: 30px;
    width: 100%; }
    .shipform-form-container {
      display: flex;
      justify-content: space-between; }
      .shipform-form-container .colOne {
        box-sizing: border-box;
        width: 48%; }
        .shipform-form-container .colOne input {
          box-sizing: border-box;
          background-color: #394eff;
          border: solid 2px #ffffff;
          border-radius: 5px;
          color: #c3c8f8;
          width: 100%;
          padding: 10px;
          font-weight: 600;
          margin-bottom: 20px; }
    .shipform-form-button input[type=submit] {
      background-color: #ffffff;
      border-bottom: solid 6px #c7c7c5;
      border-radius: 8px;
      color: #394eff;
      font-size: 1.1em;
      text-align: center;
      padding: 15px 60px;
      width: 300px;
      font-weight: 600;
      margin-top: 20px; }

/*questions*/
.questions {
  color: #394eff;
  max-width: 935px;
  margin: auto;
  padding: 50px; }
  .questions-title {
    font-size: 2.5em; }
  .questions-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .questions-list-item:nth-child(1) {
      border-top: solid 1px #394eff; }
    .questions-list-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-weight: 600;
      border-bottom: solid 1px #394eff; }
      .questions-list-item .icon-mas {
        font-size: 0.5em; }

/*footer*/
.footer {
  padding: 60px 0;
  max-width: 1230px;
  background-color: #394eff;
  color: #f9f9f6;
  display: flex;
  justify-content: space-between;
  margin: auto; }
  .footer-logo {
    width: 30%; }
    .footer-logo-icon {
      font-size: 9em; }
  .footer-content-line {
    border: solid 1px #ffffff; }
  .footer-content-title {
    font-weight: 600;
    font-size: 1em; }
  .footer-content-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /*preguntar teacher*/ }
    .footer-content-list .item {
      padding: 10px 0; }
  .footer-form-title {
    font-weight: 600;
    font-size: 1em; }
  .footer-form-content {
    font-weight: 100 !important;
    font-size: 1em; }
  .footer-form-formulario {
    display: flex; }
    .footer-form-formulario input {
      box-sizing: border-box;
      background-color: #394eff;
      border: solid 2px #ffffff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #8692fb;
      width: 50%;
      padding: 10px;
      font-weight: 600;
      margin-bottom: 20px; }
    .footer-form-formulario input[type=submit] {
      background-color: #394eff;
      border-left: none;
      color: #ffffff;
      font-size: 1.1em;
      text-align: center;
      padding: 15px 60px;
      font-weight: 600;
      width: 50%;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
